<div class="testimonies-all-content">
    <div id="testimonies-filter-container">

    </div>

    <div id="testimonies-column">
        <div class="testimonial-header">
                <h1>Testimonials</h1>
            </div>
        <div class="testimonies-flex">
            <div class="testimonial-post">
                <div class="testimonial-content">
                    <div>
                        <h2>John Smith</h2>
                        <p>Cybersecurity opens new doors to creativity and innovation.</p>
                    </div>
                    <img src="placeholder_image.png" alt="Placeholder alt">
                </div>
            </div>
        </div>
    </div>
</div>


