<div class="slide {{#addClassToFirst @index}}active{{/addClassToFirst}}">
    <div class="slide-content">
        <div>
            <h3>{{name}}</h3>
            <p>{{desc}}</p>
        </div>
        <img src="{{url}}" alt="{{alt}}">
    </div>
</div>
