<!DOCTYPE html>
<html>
    <head>
        <title>WiCyS @ OSU</title>
        <link rel="stylesheet" href="style.css">
        <link href="https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
        <script src="index.js"></script>

    </head>
    <body>
        {{{body}}}
    </body>
</html>