<body id = "contact-page">
<div class="contentContainer">
<h1>Contact Us</h1>

<div class="formDiv">
    <form class="formContainer">
        <div class="formInputContainer">
            <label for="Name" class="formInputLabel adjustWidth">Name:</label>
            <div class="formInputElement">
                <input type="text" id="contactName" name="contactName" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Email" class="formInputLabel adjustWidth">Email:</label>
            <div class="formInputElement">
                <input type="text" id="contactEmail" name="contactEmail" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Phone" class="formInputLabel adjustWidth">Phone:</label>
            <div class="formInputElement">
                <input type="text" id="contactPhone" name="contactPhone" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Message" class="formInputLabel adjustWidth">Message:</label>
            <div class="formInputElement">
                <textarea id="contactInput" name="contactInput" class="formInput" wrap="soft" rows="4"></textarea>
            </div>
        </div>

        <div class="formInputContainer">
            <div class="formInputElement formInputWidth" id="contactButtonContainer">
                <input type="button" value="Submit" class="buttons" id="contactSubmit">
            </div>
        </div>
    </form>

    <div class="contact-header">
        <h2>WiCyS Contact Information!</h2>
        <div class="contentContainer" id="contact-info">
            <p>
                <b>Email: </b> wicys.clubs@oregonstate.edu <br>
                <b>Discord: </b><a href="https://discord.gg/PUv3Cz9PzK">Discord</a><br>
                <b>Instagram: </b><a href="https://www.instagram.com/wicys_oregonstate/">@wicys_oregonstate </a></b><br>
                <h2><a href="https://apps.ideal-logic.com/osusee">Become a Member</a></h2>
                1. Go to the Clubs tab<br>
                2. Search "Women in Cybersecurity"<br>
                3. Submit your membership!<br>
                <br>
            </p>
            <a href="https://apps.ideal-logic.com/osusee"><img src="wicys_shield_beaver.png" width="200" height="200"></a>
        </div>
    </div>

</div>

</div>
</body>