{{!-- <h1>Contact Us</h1>
    <form action="/action_page.php">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name"><br>
        <label for="email">Email:</label><br>
        <input type="text" id="email" name="email"><br><br>
        <label for="phone">Phone:</label><br>
        <input type="text" id="phone" name="phone"><br><br>
        <label for="message">Message:</label><br>
        <input type="text" id="message" name="message"><br><br>

        <input type="submit" value="Submit">

    </form>  --}}


<h1>Contact Us</h1>

<div class="formDiv">
    <form class="formContainer">
        <div class="formInputContainer">
            <label for="Name" class="formInputLabel adjustWidth">Name:</label>
            <div class="formInputElement">
                <input type="text" id="contactName" name="contactName" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Email" class="formInputLabel adjustWidth">Email:</label>
            <div class="formInputElement">
                <input type="text" id="contactEmail" name="contactEmail" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Phone" class="formInputLabel adjustWidth">Phone:</label>
            <div class="formInputElement">
                <input type="text" id="contactPhone" name="contactPhone" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <label for="Message" class="formInputLabel adjustWidth">Message:</label>
            <div class="formInputElement" id="messageInput">
                <input type="text" id="contactInput" name="contactInput" class="formInput">
            </div>
        </div>

        <div class="formInputContainer">
            <div class="formInputElement formInputWidth">
                <input type="submit" value="Submit" class="button" id="contactSubmit">
            </div>
        </div>
    </form>

    <div class="contact-instructions">
        <h2>WiCyS Contact Information!</h2>
        <p>
            <b>Email: </b> wicys.clubs@oregonstate.edu <br>
            <b><a href="https://discord.gg/PUv3Cz9PzK">Discord</a></b><br>
            <b>Instagram: </b><a href="https://www.instagram.com/wicys_oregonstate/">@wicys_oregonstate </a></b><br>
        </p>
    </div>

</div>
