<html>
    <head>
        <title>Events</title>
    </head>

    <body>
        <a href="index.html">Home</a>
        <a href="contact.html">Contact Us</a>

        <h1>Events</h1>
        <h2>Insert current date. (it only works in js)</h2>
        <iframe src="https://calendar.google.com/calendar/u/0?cid=NjVhYjRkZmU5NTMzZjdhMDQ1NzAxM2Q4MDJiZGZjMDFiZmNkMjkzN2ZiMWJjMzYwYjgzNTg3OTM5YTA1YWIxZUBncm91cC5jYWxlbmRhci5nb29nbGUuY29t" style="border:solid 1px #777" width="800" height="600" frameborder="0" scrolling="no"></iframe>

    </body>
</html>