
 <section class="slideshow-container">
            <!-- First Slide -->
            <div class="testimonial-slide active">
                <div class="testimonial-content">
                    <div>
                        <h3>Jane Doe</h3>
                        <p>Women in Cybersecurity is super cool and awesome.</p>
                    </div>
                    <img src="wicys_shield_beaver.png" alt="Placeholder alt">
                </div>
            </div>

            <!-- Second Slide -->
            <div class="testimonial-slide">
                <div class="testimonial-content">
                    <div>
                        <h3>John Smith</h3>
                        <p>Cybersecurity opens new doors to creativity and innovation.</p>
                    </div>
                    <img src="placeholder_image.png" alt="Placeholder alt">
                </div>
            </div>

            <!-- Navigation Buttons -->
            <div class="slideshow-navigation">
                <button class="prev-slide">&#8592;</button>
                <button class="next-slide">&#8594;</button>
            </div>
        </section>

        <h1>
            About WiCyS @ Oregon State University
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper  varius ipsum, id pellentesque mi consectetur ac. Curabitur eu nisi nec  justo accumsan tincidunt. Morbi feugiat cursus lacus id dictum. Maecenas porttitor feugiat eros quis suscipit. Etiam feugiat purus eget quam  tristique, sed mattis quam lobortis. Mauris interdum viverra libero,  congue porta urna vestibulum a. Ut laoreet ornare urna, eu vehicula est  condimentum imperdiet. Quisque leo velit, scelerisque nec hendrerit sed, varius et nisl. In ac efficitur orci. Suspendisse vestibulum mi vel  finibus elementum. ...
        </p>

        <h1>
            Testimonies
        </h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In semper  varius ipsum, id pellentesque mi consectetur ac. Curabitur eu nisi nec  justo accumsan tincidunt. Morbi feugiat cursus lacus id dictum. Maecenas porttitor feugiat eros quis suscipit. Etiam feugiat purus eget quam  tristique, sed mattis quam lobortis. Mauris interdum viverra libero,  congue porta urna vestibulum a. Ut laoreet ornare urna, eu vehicula est  condimentum imperdiet. Quisque leo velit, scelerisque nec hendrerit sed, varius et nisl. In ac efficitur orci. Suspendisse vestibulum mi vel  finibus elementum. ...
        </p>
        <a href="testimonies.html">See more Testimonies!</a>
        
        <h1>
            Give Us Your Feedback!
        </h1>
        <div >    
            <form class="formContainer">
                <div class="formInputContainer">
                    <label for="Name" class="formInputLabel">Name:</label>
                    <div class="formInputElement">
                        <input type="text" id="testimonyName" name="testimonyName" class="formInput">
                    </div>
                </div>
                
                <div class="formInputContainer">
                    <label for="Message" class="formInputLabel">Message:</label>
                    <div class="formInputElement" id="messageInput">
                        <input type="text" id="testimonyInput" name="testimonyInput" class="formInput">
                    </div>
                </div>

                <div class="formInputContainer">
                    <label for="Image" class="formInputLabel">Image (Optional):</label>
                    <div class="formInputElement">
                        <input type="file" id="testimonyImage" name="testimonyImage" class="formInput">
                    </div>
                </div>
                
                <div class="formInputContainer">
                    <div class="formInputElement">
                        <input type="submit" value="Submit" id="testimonySubmit">
                    </div>
                </div>
            </form>
     </div>